@font-face {
	font-family: 'Helvetica';
	src: url('fonts/HelveticaLTStd-Fractions.eot');
	src: local('☺'), url('fonts/HelveticaLTStd-Fractions.woff') format('woff'), url('fonts/HelveticaLTStd-Fractions.ttf') format('truetype'), url('fonts/HelveticaLTStd-Fractions.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica';
	src: url('fonts/HelveticaLTStd-Light.eot');
	src: local('☺'), url('fonts/HelveticaLTStd-Light.woff') format('woff'), url('fonts/HelveticaLTStd-Light.ttf') format('truetype'), url('fonts/HelveticaLTStd-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica';
	src: url('fonts/HelveticaLTStd-Bold.eot');
	src: local('☺'), url('fonts/HelveticaLTStd-Bold.woff') format('woff'), url('fonts/HelveticaLTStd-Bold.ttf') format('truetype'), url('fonts/HelveticaLTStd-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
max-width: 100%;
max-height: 100%;
}
.container {
    max-width: 965px;
    margin: 0 auto;
}
.header {
    width: 100%;
    background-color: #55adb7;
    opacity: 0.84;
    padding: 5px;
} 
.menu__item-ad {
    display: none;
    
    
}
.menu_adaptive {
    display: none;
    color: #dce3e4;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Comic Sans MS';
}
.menu_adaptive-link:hover .menu_adaptive-link:visited .menu_adaptive-link:active {
    color: #dce3e4;
    text-decoration: none;
    
}
.menu__list-item {
    list-style: none;
    margin: 15px;
}
.menu__list {
    display: flex;
}
.menu  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__item {
color: #dce3e4;
font-size: 18px;
text-transform: uppercase;
text-decoration: none;
font-family: 'Comic Sans MS';
}
.img {
    background-image: url(../images/Layer_1.png);
    width: 100%;
    height: 760px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#we_need {
color: #e4e4e4;
font-family: "Helvetica";
font-size: 44px;
font-weight: 700;
line-height: 58px;
text-align: center;
text-transform: uppercase;
margin-bottom: 25px;
}
.img__content-link{
    text-decoration: none;
    color: #e4e4e4;
    font-family: "Helvetica";
    font-size: 30px;
    font-weight: 300;
    line-height: 58px;
    border: 3px solid #afb1b4;
    border-radius: 4%;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: all .5s ease ;
}
.img__content-link:hover {
    background: rgba(0, 0, 0, 0.4); 
}
.img__content-link:active {
    color: #e4e4e4; 
}
.img__content {
    text-align: center;
}
.text1 {
    height: 450px;
    max-width: 965px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.text1_1 {
color: #4c505d;
font-size: 30px;
text-align: center;
font-family: "Helvetica";
font-weight: 400;
padding-top: 100px;
padding-bottom: 40px;
}
.text1_2 {
color: #4c505d;
font-family: "Helvetica";
line-height: 22px;
text-align: center;
}
.card {
    height: 50px;
    width: 50px;
    margin-left: 75px;
    margin-right: 75px;
}
.cards {
    margin-top: 80px;
    margin-bottom: 80px;
}
.card_s {
    text-align: center;
    
}
.dhavan {
    background-color: #00d089;
    padding-bottom: 100px;
    padding-top: 60px;
}
.qoer {
margin-left: 10px;
}
.box {
    display: flex;
    justify-content: center;
}
.dhavan_text {
color: #e4e4e4;
font-family: "Helvetica";
font-size: 26px;
text-align: center;
text-transform: uppercase;
}
.lorem_text {
    margin-top: 40px;
}
.lorem_text1 {
color: #ffffff;
font-family: "Helvetica";
font-size: 18px;
}
.map {
    background: url(../images/map.png) no-repeat center center / cover ;
    padding-top: 50px;
    padding-bottom: 50px;
}
.circle {
    width: 430px;
    height: 430px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    opacity: 0.85;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.input_parent {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center; 
    align-items: center;
} 
.yes {
    display:block;
    background-image: url(../images/yes_logo.svg);
    border-radius: 50%;
    height: 65px;
    width: 65px;
}
.input {
    margin: 10px;
    padding: 5px;
}
#input3 {
    padding-bottom: 40px;
    resize: none;
    padding-top: 0px;
}
.footer {
    background-color: #00d089;
}
.footer_text {
color: #ffffff;
font-family: "Helvetica";
font-size: 14px;
text-transform: uppercase;
text-align: center;
padding: 5px;
}
@media(max-width:795px) {
    .menu__item {
        display: none;

    }
    .menu__list-item {
        display: none;
    }
    .menu_adaptive {
        display: block;
        
    }
    .menu_adaptive-link:visited {
        color: #dce3e4;
        text-decoration: none;
    }
    .menu_adaptive-link:hover > ul.menu__adaptive-ad {
        display: inline;
        flex-direction: column;
    }
}
@media(max-width:990px) {
    .lorem_text1 {
        text-align: center;
        margin-right: 5px;
        margin-left: 5px;
    }
}
@media(max-width:990px)
{
    .text1_2 {
        margin-right: 5px;
        margin-left: 5px;
    }
}
